<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="#">Angular Photo Slider</a>
        </div>

        <div id="navbar">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <!-- <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->

          </ul>

        </div>
      </div>
    </nav>
