<div class="ngphotoslider-slider">

  <ul class="ngphotoslider-slider__list">
    <li class="ngphotoslider-slider-item {{itemClasses[$index]}} {{animationClass}}" ng-repeat="i in images">
      <img class="" src="{{i}}">
    </li>
  </ul>

<div class="ngphotoslider-nav-buttons">
      <button ng-show="images.length>1" class="btn btn-default"
        ng-disabled="prevDisabled" ng-click="onPrevButtonClicked()">Previous</button>

      <button ng-show="images.length>1"
          class="btn btn-default"
          ng-disabled="nextDisabled" ng-click="onNextButtonClicked()">Next</button>

</div>

</div>
